.student-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 80%;
  width: 80%;
  background-color: rgb(241, 241, 241);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
h2 {
  margin-bottom: 40px;
}
p {
  font-size: 18px;
}
